<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Novel CoronaVirus Tracker </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body>
   <div class="container">
  
    <h1>COVID19 Tracker Application</h1>
    <p>This Application tracks the current total cases of CoronaVirus around the globe </p>
    
    <div class="jumbotron">
      <h1 class="display-4" th:text="${totalReportedCase}"></h1>
      <p class="lead"> Total cases reported worldwide as of today</p>
  
  
		<hr class="my-4">
  <p>
  <span>Total new cases reported worldwide today</span>
  <b><span th:text="${totalNewReportedCase}">0</span></b>
  </p>
 
  </div>
   
    <table class="table">
      <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total Case Reported</th>
         <th>Today's Cases</th>
      </tr>
      <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.state}"></td>
        <td th:text="${locationStat.country}"></td>     
        <td th:text="${locationStat.latestTotalCases}">0</td>
        <td th:text="${locationStat.diffPrevDay}">0</td>
      </tr>
    </table>
  </div>>
  
  </body>

</html>